doctype html
head
  meta(charset='UTF-8')
  title Chat
  link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css')
  link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.7.2/css/all.css')
  link(href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700', rel='stylesheet')
  link(href='https://fonts.googleapis.com/css?family=Roboto:400,500,700', rel='stylesheet')
  link(rel='stylesheet', href='/css/estilos.css')
  script(src='/socket.io/socket.io.js')
  script(src='/js/codigo.js')
  // import socket star
 
.content
  p.lorem
    | Lorem ipsum dolor Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio debitis rerum vel corporis repudiandae, magni minima sed, iste, officiis error ad fugiat labore modi totam sapiente laudantium at quae harum.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium ipsam voluptatum doloribus iste illo dolore nam, natus eum atque quam commodi earum saepe odit sequi dolorum perferendis numquam ad. Sint.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam consequatur nobis ex illum est reiciendis facere omnis fuga! Sit molestiae eius corrupti soluta quod rem reprehenderit harum, laborum quas cupiditate!Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis optio odit saepe, suscipit ipsam? Nesciunt necessitatibus autem, animi quas, rerum pariatur, doloremque recusandae minima quae eius nihil. Ex ipsa, repellendus.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic voluptatibus cumque repellat, incidunt quaerat iste dolor perspiciatis eum voluptate placeat quasi corrupti unde minus, omnis ea. Reprehenderit dignissimos voluptatum dolor.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae facere laudantium aperiam optio ipsum ab autem aspernatur, deserunt explicabo voluptates, eius sit. Illo eveniet culpa quae delectus ipsum, maxime iure.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum exercitationem voluptatum hic est aliquid harum, eveniet possimus magni nemo recusandae accusamus illum, aliquam officiis perspiciatis deleniti ipsa obcaecati. Nisi, veritatis!Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius veritatis quis ad, nemo iure iusto blanditiis obcaecati quam. Doloribus culpa suscipit nemo perspiciatis pariatur deleniti, tempore cum minus. Nulla, esse.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo aliquid molestias, perferendis neque pariatur a laboriosam dignissimos ipsam officiis possimus ducimus hic dolorem odio quidem delectus ea. Ut, minus, doloremque!Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum, eos, aut! Impedit fuga, vero repellendus eum, repellat pariatur aut fugiat maiores esse molestiae veritatis qui rerum recusandae voluptatum cum id. sit amet, consectetur adipisicing elit. Aut modi adipisci quo consequuntur repellat blanditiis, ipsam debitis veniam, velit similique impedit quasi excepturi nisi saepe laborum et officia explicabo magnam.
  p.lorem
    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut modi adipisci quo consequuntur repellat blanditiis, ipsam debitis veniam, velit similique impedit quasi excepturi nisi saepe laborum et officia explicabo magnam.
  p.lorem
    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut modi adipisci quo consequuntur repellat blanditiis, ipsam debitis veniam, velit similique impedit quasi excepturi nisi saepe laborum et officia explicabo magnam.
  p.lorem
    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut modi adipisci quo consequuntur repellat blanditiis, ipsam debitis veniam, velit similique impedit quasi excepturi nisi saepe laborum et officia explicabo magnam.
  p.lorem
    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut modi adipisci quo consequuntur repellat blanditiis, ipsam debitis veniam, velit similique impedit quasi excepturi nisi saepe laborum et officia explicabo magnam. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam facilis excepturi, alias reprehenderit natus unde vero, placeat voluptatibus dolores deleniti numquam repellendus a vel molestias ab, aliquam fugiat! Error, eum.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus laborum sed voluptatibus maiores ullam omnis fuga beatae provident aperiam enim, reprehenderit facere ex officia accusantium quidem nostrum, itaque tenetur error?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum quia labore omnis, repudiandae accusamus laboriosam corporis culpa sint earum, hic, dolor ab tenetur. Explicabo, commodi sed nihil, est dolore sit!Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio at recusandae blanditiis ullam consectetur quidem? Quidem illo, a commodi, odit unde, dolores nostrum nobis distinctio veniam omnis obcaecati ullam accusamus.
  p.lorem
    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut modi adipisci quo consequuntur repellat blanditiis, ipsam debitis veniam, velit similique impedit quasi excepturi nisi saepe laborum et officia explicabo magnam.
  p.lorem
    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut modi adipisci quo consequuntur repellat blanditiis, ipsam debitis veniam, velit similique impedit quasi excepturi nisi saepe laborum et officia explicabo magnam.
  p.lorem
    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut modi adipisci quo consequuntur repellat blanditiis, ipsam debitis veniam, velit similique impedit quasi excepturi nisi saepe laborum et officia explicabo magnam.
  p.lorem
    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut modi adipisci quo consequuntur repellat blanditiis, ipsam debitis veniam, velit similique impedit quasi excepturi nisi saepe laborum et officia explicabo magnam.
  p.lorem
    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut modi adipisci quo consequuntur repellat blanditiis, ipsam debitis veniam, velit similique impedit quasi excepturi nisi saepe laborum et officia explicabo magnam.
  p.lorem
    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut modi adipisci quo consequuntur repellat blanditiis, ipsam debitis veniam, velit similique impedit quasi excepturi nisi saepe laborum et officia explicabo magnam.
  p.lorem
    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut modi adipisci quo consequuntur repellat blanditiis, ipsam debitis veniam, velit similique impedit quasi excepturi nisi saepe laborum et officia explicabo magnam.
  p.lorem
    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut modi adipisci quo consequuntur repellat blanditiis, ipsam debitis veniam, velit similique impedit quasi excepturi nisi saepe laborum et officia explicabo magnam.
  p.lorem
    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut modi adipisci quo consequuntur repellat blanditiis, ipsam debitis veniam, velit similique impedit quasi excepturi nisi saepe laborum et officia explicabo magnam.
  p.lorem
    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut modi adipisci quo consequuntur repellat blanditiis, ipsam debitis veniam, velit similique impedit quasi excepturi nisi saepe laborum et officia explicabo magnam.
  p.lorem
    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut modi adipisci quo consequuntur repellat blanditiis, ipsam debitis veniam, velit similique impedit quasi excepturi nisi saepe laborum et officia explicabo magnam.
  p.lorem
    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut modi adipisci quo consequuntur repellat blanditiis, ipsam debitis veniam, velit similique impedit quasi excepturi nisi saepe laborum et officia explicabo magnam.
  p.lorem
    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut modi adipisci quo consequuntur repellat blanditiis, ipsam debitis veniam, velit similique impedit quasi excepturi nisi saepe laborum et officia explicabo magnam.
  p.lorem
    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut modi adipisci quo consequuntur repellat blanditiis, ipsam debitis veniam, velit similique impedit quasi excepturi nisi saepe laborum et officia explicabo magnam.
  p.lorem
    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut modi adipisci quo consequuntur repellat blanditiis, ipsam debitis veniam, velit similique impedit quasi excepturi nisi saepe laborum et officia explicabo magnam.
.icon__Chat(onclick='activeChat();')
  img(src='img/chat-icon-msg.svg', alt='')

include chat


